.Notification {
  background-color: #efefef;
  border: 1px solid #4a8af4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 25px auto;
  max-width: 450px;
  padding: 35px;
  text-align: center;
  width: 100%;
}
