.SubmitButton {
  padding: 8px 20px;
  border-radius: 5px;
  border: 2px solid #4a8af4;
  background-color: #4a8af4;
  color: #fff;
  transition: 0.4s;
}

.SubmitButton:hover {
  cursor: pointer;
  background-color: #fff;
  color: #4a8af4;
}
