.SelectWrapper {
  display: flex;
  align-items: center;
}

.SelectLabel {
  font-weight: bold;
  display: inline-block;
  margin-right: 7px;
  flex-shrink: 0;
}

.Select {
  display: inline-block;
  width: 200px;
  height: 35px;
  font-size: 1rem;
  padding: 0 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  transition: 0.4s;

  appearance: none;
  background-image: url(https://image.flaticon.com/icons/png/512/143/143271.png);
  background-position: center;
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}

.Select:hover,
.Select:focus {
  border: 1px solid #4a8af4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  outline: none;
}
