.SelectRegionAndYearForm {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.SelectRegionAndYearFormItem + .SelectRegionAndYearFormItem {
  margin-left: 10px;
}
